.c-primary {
  color: #4f726c !important;
}
.bc-muted {
  background-color: #fff1f2 !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #f57983;
}

a:not(.btn) {
  text-decoration-style: dashed;
}

.article {
  max-width: 56rem;
}

.article > p,
.article > ul {
  padding-top: .504rem;
  padding-bottom: .496rem;
  font-size: 1.3333333333rem;
  line-height: 2.5rem;
}

.article > *:first-child {
  margin-top: 0;
}



.header-logo {
  width: 7rem;
  height: 7rem;
}
.header-nav {
  background: #f7f7f7;
}
.header-nav .btn:hover {
  color: #4f726c;
  background: #ebf0ef;
}
.header-nav .btn.btn-active{
  color: #4f726c;
}

@media (min-width: 768px) {
  .header-logo {
    width: 8rem;
    height: 8rem;
  }
  .header-nav {
    background: none;
  }
}



.main {
  min-height: calc(100vh - 20rem);
}

@media (min-width: 768px) {
  .main {
    min-height: calc(100vh - 25rem);
  }
}


.landpage .slogon .media {
  max-width: 80%;
}

.landpage .slogon .media-content {
  padding-top: 45.6%;
}

#home .landpage {
  padding-bottom: 5rem;
}

@media (min-width: 768px) {
  .landpage .slogon .media {
    max-width: 68rem;
  }
  .landpage .slogon .media-content {
    padding-top: 16.744186%;
  }
  #home .header {
    padding-top: 5rem;
  }
  #home .landpage {
    padding-bottom: 6rem;
  }
}



@media (min-width: 768px) {
  .feature .feature-description {
    max-width: 80rem;
  }
}


.team {
  max-width: 64rem;
}
.team-member {
  width: 13rem;
}
.team-member .media{
  width: 10rem;
  height: 10rem;
}

